/* Islandsr&ouml;tt: color: #EE3423;
bl&aring;tt: #00529B*/

body {
	color: #00529B;	
	font-family: 'Droid Serif', serif;
	background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
	background-size: cover;
}



.nav li {
	display: inline;
}

.menu-trigger {
	font-size: 20px;
	text-transform: uppercase;
	float: left;
}

.float-right {
	float: right;
}

.svenska {
	width: 48px;
	height: 32px;
	margin: 3px;
	background-image: url('flags/svenska.jpg');
	background-size: 100%;
}

.deutsch {
	width: 48px;
	height: 32px;
	margin: 3px;
	background-image: url('flags/deutsch.jpg');
	background-size: 100%;
}

.nav ul ul {
	margin-right: 60px;
}

.dot a {
	font-size: 24px;
	margin-left: 5px;
}
a:link {
	text-decoration: none;
	color: #00529B;
	opacity: 1;
}
a:hover, a:hover:visited {
	color: #00529B;
	opacity: 0.4;
}
a:visited, a:active {
	color: #00529B;
	opacity: 1;
}

.active-dot a:active, .active-dot a:visited, .active-dot a:link{
	color: #EE3423;
	opacity: 1;
}

.active-dot a:hover {
	color: #EE3423;
	opacity: 0.4;
}

.menu .menu-close {
	text-transform: uppercase;	
	font-size: 12px;
	display: inline;
	margin-left: 20px;
}

.menu {
	display: none;

}
.menu ul{
	background-color: #EE3423;
	height: 27px;
	border-radius: 1%;
	opacity: 1;
}

.menu li {	
	text-transform: uppercase;
	font-size: 20px;
	margin-left: 50px;
	display: inline;
	/* float: up; */
	background-color: white;
	padding: 10px;
	border: 2px solid #00529B;
	border-radius: 5%;

}

.menu li a.active-page {
	color: #EE3423;
	opacity: 1;
}

.menu li a.active-page:hover {
	opacity: 0.4;
}

.front-text {
	margin-top: 100px; 
}

.front-image img {
	height: 600px;
	width: 800px; 
	border-radius: 1%;
	display: none;
}

.pics .front-image img {
	height: 700px;
	width: 933px; 
	margin-left: 5px;
}

.active-image img{
	display: block;
}

.right-arrow, .left-arrow {
    opacity: 1;
	height: 700px;
	width: 40px;
	border-radius: 1%;
}

.right-arrow:hover, .left-arrow:hover  {
	opacity: 0.9;
}

.left-arrow {
	margin-left: 55px;
	background-color: #EE3423;
}

.right-arrow {
	background-color: #00529B;
}

.pics p {
	text-align: center;
}

.footer {
	background-color: #00529B;
	opacity: 1;
	height: 35px;
	width: 1200px;
	color: white;
	font-size: 10px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
}

.footer p{
	padding-top: 5px;
}